{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">

    <h2>Checkout 🧾</h2>

    <form method="POST" class="mt-4">

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea name="address" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label>Payment Method</label>
            <select name="payment" class="form-control">
                <option>Cash on Delivery</option>
                <option>UPI</option>
                <option>Card</option>
            </select>
        </div>

        <button class="btn btn-success">Place Order</button>

    </form>

</div>

{% endblock %}